@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

*,*:before,*:after{-webkit-box-sizing:border-box;box-sizing:border-box}

body {
  font-family: proxima-nova,sans-serif;
  margin: 0;
  background: #f5f5fa;
}

h1{
  font-weight: 900;
  font-size: 58px;
  color: #000;
  line-height: 1.1;
  margin-top: 45px;
  max-width: 750px;
}

h2{
  font-weight: 900;
  font-size: 36px;
  color: #161e3f;
  line-height: 1.4;
  margin: 45px 0 25px
}

p{
  color: #000;
  font-size: 17px;
  line-height: 1.7;
  margin: 0;
  font-weight: 400;
}

a.button{
    color: #414192;
    padding: 10px 30px;
    font-size: 20px;
    border: 1px solid #414192;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    border-radius: 4px;
    font-size: 18px;
    transition: all 0.5s;
    font-weight: 700;
}

a.button:hover{
  background-color: #414192;
  color: #fff !important;
  transition: all 0.5s;
}

.width700{
  width: 700px;
}
.container{
  max-width: 1440px;
  margin: 0 auto;
}

.section{
  max-width: 1024px;
  margin: 0 auto;
}

.top-section{
  background: #fff;
}

.logo-container{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    font-size: 1rem;
    line-height: 19px;
    text-align: center;
    letter-spacing: .03em;
    text-transform: uppercase;
    background-color: #414192;
    color: #fff;
    padding: 5px 10px;
    display: inline-block;
    margin-bottom: 10px;
}

.container .first-section,.container .second-section{
  margin: 80px auto 0;
}

.container.hero-background{
  width: 100%;
  height: 450px;
  background: url('https://images2.newscred.com/Zz00NThlZmM4YWNlZGUxMWViYjU5ZmM5NmUzZTczYWQ5OQ==?width=1600&q=100');
  position: relative;
  padding: 80px 60px 50px;
  background-repeat: no-repeat;
  background-size: cover;
}

.container.hero-background:after {
    background-color: #fff;
    width: 100%;
    height: 100%;
}

.container.hero-background .heading{
  max-width: 1024px;
  margin: 0 auto;
}

.container .border{
  height: 10px;
  background-color: #e0002b;
  width: 100px;
}

.container .first-section .border{
  margin-bottom: 40px;
}

.container .card-section .card{
  height: 390px;
  width: 30%;
  /* background-color: #fff; */
  display: inline-block;
  /* border-radius: 15px; */
  margin: 20px 0;
  text-align: center;
  padding: 40px;
  border: 1px solid #414192;
}

.container .card-section .card:nth-child(3n-1){
  margin-left: 40px;
  margin-right: 40px;
}

.container .card-section .card h3{
  margin: 20px 0 5px;
  color: #000;
}

.container .card-section .card p{
  color: #000;
}

.container .first-section > p{
  margin-top: 40px;
  margin-bottom: 40px;
}

.second-section .two-section{
  margin: 70px 0 80px;
}

.second-section .two-section .card{
  width: 49%;
  display: inline-block;
  position: relative;
  margin-bottom: 40px;
}

.second-section .two-section .card img{
  width: 150px;
}
.second-section .card p{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 200px;
}

.bigger{
  font-size: 35px;
}

.third-section .full-width-section{
  margin: 80px 0 80px;
}

.third-section .full-width-section img{
  width: 380px
}

.third-section .full-width-section .image-left{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.third-section .full-width-section .image-left .text-block{
  margin-left: 50px;
}

.third-section .full-width-section p>span{
  color: #414192;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
}

.third-section .full-width-section a{
  color: #000;
  border-color: #e0002b;
  padding: 10px 30px;
  font-size: 20px;
  border: 1px solid #e0002b;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  border-radius: 4px;
  font-size: 18px;
}

.third-section .full-width-section a:hover{
  color: #fff;
  background-color: #e0002b !important;
}

.third-section .full-width-section .image-right{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.third-section .full-width-section .image-right .text-block{
  margin-right: 50px;
}

[class|=image]{
  margin-top: 50px;
}

.hero-background.hero-two{
  background: url(https://images.unsplash.com/photo-1567862451157-ba01f24037d4?ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDF8aVVJc25WdGpCMFl8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60),#414192;
  height: auto;
  padding: 70px 0;
  margin: 100px 0 120px;
  background-blend-mode: multiply;
  background-position: bottom;
}

.hero-background.hero-two h2,.hero-background.hero-two p{
  color: #fff;
}

.hero-background.hero-two .border{
  background: #fff;
}

.image-section{
  display: flex;
  width: 63%;
  justify-content: space-between;
  margin-bottom: 120px;
}

.image-section img{
  display: inline-block;
  width: 260px;
  box-shadow: 7.78px 7.78px 5px rgb(0 0 0 / 10%)
}

.black-logo-container{
  margin-bottom: 50px;
  text-align: center;
}

.black-logo-container .logo-container{
  padding: 20px 18px 16px;
  font-size: 1.8rem;
}

.footer{
  max-width: 750px;
  margin: 0 auto;
  text-align: center;
}

.footer p{
  text-align: left;
}

.footer a.button{
  margin: 70px 0 120px;
  font-weight: 700;
  color: #000;
  border-color: #e0002b;
}

.footer a.button:hover{
  background: #e0002b;
  color: #fff;
}

.legal{
  background: #1f2159;
  color: #fff;
  padding: 70px 0
}

.legal a{
  color: #fff;
  text-decoration: none;
  font-size: 10px;
}

::marker{
  font-size: 10px;
}

@media screen and (max-width: 850px) {
  .withSVG{
    display: block !important;
  }
  .withSVG svg{
    margin-top: 35px;
  }

  .withSVG svg.phonelast{
    margin-top: 20px;
  }
.container.hero-background{
  padding: 60px;
  height: auto;
}

.container.hero-background .heading img{
  width: 200px;
}

.container.hero-background .heading h1{
  font-size: 40px;
  margin: 20px 0 0;
}

.container .card-section .card {
  width: 60% !important;
}

.section h2 br{
  display: none;
}

.width700{
  width: auto;
}
.progress-pie-chart{
  margin: 0 auto;
}
}

@media (max-width: 1150px) {
  .section {
    margin-left: 60px !important;
    margin-right: 60px !important;
}
.container .card-section .card{
  width: 48%;
}
.container .card-section{
  text-align: center;
}
.image-section{
  margin: 0 auto 120px !important;
  width: 80%;
}
}

@media screen and (max-width: 850px) {
   .section.first-section, .section.second-section,.section.third-section,.footer{
       margin-left: 30px !important;
       margin-right: 30px !important;
   }
   .container.hero-background{
     padding: 60px 30px;
     height: auto;
   }

   .container.hero-background .heading img{
     width: 200px;
   }

   .container.hero-background .heading h1{
     font-size: 30px;
     margin: 20px 0 0;
   }

   .container .card-section .card {
       width: 100% !important;
       height: auto;

   }
   .container .card-section .card:nth-child(3n-1){
     margin: 20px 0 !important
   }
   .section h2{
     font-size: 30px;
   }
   .section p{
     font-size: 16px;
   }
   .section h2 br{
     display: none;
   }

   .width700{
     width: auto;
   }

   .two-section{
     text-align: center;
   }
   .two-section .card{
     width: 100% !important;
     display: block !important;
     margin-bottom: 50px !important;
   }
   .two-section .card p{
     position: inherit;
     margin-left: 0;
     transform: none;
   }

   [class|=image]{
     display: block !important;
   }
   .third-section .full-width-section [class|=image] .text-block {
       margin-left: 0;
       margin-right: 0;
       margin-top: 20px;
   }
   .third-section .full-width-section [class|=image]:nth-child(2n){
     flex-direction: column-reverse;
     display: flex !important;
     align-items: flex-start;
   }
   .third-section .full-width-section img {
       width: 100%;
   }
   .image-section{
     flex-direction: column;
     align-items: center;
   }
   .image-section img{
     margin-bottom: 20px;
   }
   .footer{
     margin-left: 60px !important;
   margin-right: 60px !important;
   }
   .black-logo-container img{
     width: 100% !important;
   }
   }

@keyframes signal {
  from{
    transform: scale(0);
  }
  to{
    transform: scale(1);
  }
}

.signal{
  animation: signal infinite 2s;
  transform-origin: center;
}

@keyframes phone {
  from{
  transform: translateY(100%);
  }
  to{
    transform: translateY(0);
    }
}

.phone{
  animation: phone infinite 2s;
  transform-origin: center;
}

.fastcharging{
  animation: fastcharging infinite 2s;
  transform-origin: center;
}

@keyframes fastcharging {
    from{
    transform: rotate(45deg) translate(-50px, 0) scale(0);
    }
    to{
      transform: rotate(45deg) translate(0, 0) scale(1);
      }
}

.progress-pie-chart {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: rgb(202 202 225 / 72%);
  position: relative;
  border: 1px solid #414192;
}
.progress-pie-chart.gt-50 {
  background-color: #414192;
}

.ppc-progress {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 75px);
  top: calc(50% - 75px);
  width: 150px;
  height: 150px;
  clip: rect(0, 150px, 150px, 75px);
}
.ppc-progress .ppc-progress-fill {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 75px);
  top: calc(50% - 75px);
  width: 150px;
  height: 150px;
  clip: rect(0, 75px, 150px, 0);
  background: #414192;
  transform: rotate(60deg);
}
.gt-50 .ppc-progress {
  clip: rect(0, 75px, 150px, 0);
}
.gt-50 .ppc-progress .ppc-progress-fill {
  clip: rect(0, 150px, 150px, 75px);
  background: #E5E5E5;
}

.ppc-percents {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 123.9130434783px/2);
  top: calc(50% - 123.9130434783px/2);
  width: 123.9130434783px;
  height: 123.9130434783px;
  background: #f5f5fa;
  text-align: center;
  display: table;
}
.ppc-percents span {
  display: block;
  font-size: 2em;
  font-weight: bold;
  color: #414192;
}

.pcc-percents-wrapper {
  display: table-cell;
  vertical-align: middle;
}

@keyframes pieanimation {
  from{
    transform: rotate(0);
  }
  to{
    transform:rotate(120deg);
  }
}

.ppc-progress .ppc-progress-fill{
  animation: pieanimation infinite 3s;
  transform-origin: center;
}

@keyframes pieanimation1 {
  from{
    transform: rotate(0);
  }
  to{
    transform:rotate(33deg);
  }
}

.ppc-progress .ppc-progress-fill.two{
  animation: pieanimation1 infinite 3s;
  transform-origin: center;
}

@keyframes pieanimation2 {
  from{
    transform: rotate(0);
  }
  to{
    transform:rotate(165deg);
  }
}

.ppc-progress .ppc-progress-fill.three{
  animation: pieanimation2 infinite 3s;
  transform-origin: center;
}

.withSVG{
  display: table-cell;
  vertical-align: middle;
  text-align: center;

}


@keyframes circle {
  from{
    transform: rotate(0);
  }
  to{
    transform:rotate(-360deg);
  }
}

.circle{
  width: 70px;
  animation: circle infinite 3s;
  transform-origin: center;
}

@keyframes location {
  from{
    transform: scale(0);
  }
  to{
    transform:scale(1);
  }
}
.location{
  width: 70px
}

.location1{
  animation: location infinite 3s;
  transform-origin: center;
}
